<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>823124571438-2od282ji3ndd49172k205m7t3cnuo93i.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.823124571438-2od282ji3ndd49172k205m7t3cnuo93i</string>
	<key>API_KEY</key>
	<string>AIzaSyB1e7y5_flVdPpiclo_53p7lZAqRxZr7T4</string>
	<key>GCM_SENDER_ID</key>
	<string>823124571438</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.flutterApplication</string>
	<key>PROJECT_ID</key>
	<string>flutter-project-383010</string>
	<key>STORAGE_BUCKET</key>
	<string>flutter-project-383010.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:823124571438:ios:26f8738f975854f325f6bf</string>
</dict>
</plist>